
body {
  background-color: #DFFFD8;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

h1 {
  color: #2F58CD;
}

h3 {
  color: #2F58CD;
}